##############################################################################################
# api
##############################################################################################

############################
# OS X
############################

api/.DS_Store
api/.AppleDouble
api/.LSOverride
api/Icon
api/.Spotlight-V100
api/.Trashes
api/._*


############################
# Linux
############################

*~


############################
# Windows
############################

api/Thumbs.db
api/ehthumbs.db
api/Desktop.ini
api/$RECYCLE.BIN/
api/*.cab
api/*.msi
api/*.msm
api/*.msp


############################
# Packages
############################

api/*.7z
api/*.csv
api/*.dat
api/*.dmg
api/*.gz
api/*.iso
api/*.jar
api/*.rar
api/*.tar
api/*.zip
api/*.com
api/*.class
api/*.dll
api/*.exe
api/*.o
api/*.seed
api/*.so
api/*.swo
api/*.swp
api/*.swn
api/*.swm
api/*.out
api/*.pid


############################
# Logs and databases
############################

api/.tmp
api/*.log


############################
# Misc.
############################

api/*#
api/ssl
api/.idea
api/nbproject

############################
# Node.js
############################

api/lib-cov
api/lcov.info
api/pids
api/logs
api/results
api/node_modules
api/.node_history

############################
# Tests
############################

api/testApp
api/coverage

############################
# Strapi
############################

api/license.txt
api/exports
api/*.cache
api/build
api/.strapi-updater.json

##############################################################################################
# vite-project
##############################################################################################


# Logs
vite-project/logs
vite-project/*.log
vite-project/npm-debug.log*
vite-project/yarn-debug.log*
vite-project/yarn-error.log*
vite-project/pnpm-debug.log*
vite-project/lerna-debug.log*

vite-project/node_modules
vite-project/dist
vite-project/dist-ssr
vite-project/*.local
vite-project/.env

# Editor directories and files
vite-project/.vscode/*
vite-project/!.vscode/extensions.json
vite-project/.idea
vite-project/.DS_Store
vite-project/*.suo
vite-project/*.ntvs*
vite-project/*.njsproj
vite-project/*.sln
vite-project/*.sw?

##############################################################################################
# react-project
##############################################################################################
react-project/node_modules
react-project/.pnp
react-project/.pnp.js
/build
react-project/# misc
react-project/.DS_Store
react-project/.env.local
react-project/.env.development.local
react-project/.env.test.local
react-project/.env.production.local

react-project/npm-debug.log*
react-project/yarn-debug.log*
react-project/yarn-error.log*


# Compiled output
angular-project/dist
angular-project/tmp
angular-project/out-tsc
angular-project/bazel-out
# Node
angular-project/node_modules
angular-project/npm-debug.log
angular-project/yarn-error.log
# IDEs and editors
angular-project/.idea/
angular-project/.project
angular-project/.classpath
angular-project/.c9/
angular-project/*.launch
angular-project/.settings/
angular-project/*.sublime-workspace
# Visual Studio Code
angular-project/.vscode/*
angular-project/!.vscode/settings.json
angular-project/!.vscode/tasks.json
angular-project/!.vscode/launch.json
angular-project/!.vscode/extensions.json
angular-project/.history/*
# Miscellaneous
angular-project/.angular/cache
angular-project/.sass-cache/
angular-project/connect.lock
angular-project/coverage
angular-project/libpeerconnection.log
angular-project/testem.log
angular-project/typings
# System files
angular-project/.DS_Store
angular-project/Thumbs.db
angular-project/.editorconfig
angular-project/.gitignore
angular-project/src/assets/.gitkeep

P2PIMGS