<div class="wrapper">
	<div *ngIf="game">
		<h1>

			{{game.attributes.title}}
		</h1>

		<div class="detailGrid">
			<span>Release date on Playstation : <br> {{game.attributes.playstationReleaseDate}} </span>
			<div>


				<img src="http://localhost:1337{{game.attributes.image.data.attributes.url}}" />
			</div>
			<span>Release date on PC : <br> {{game.attributes.pcReleaseDate}} </span>
		</div>

		<div class="gameDesc">
			<span>
				{{game.attributes.description}}
			</span>
		</div>

	</div>
</div>