.wrapper {
	text-align: center;
}

h1 {
	font-weight: normal;
}

.gamesGrid {
	display: flex;
	gap: 16px;
	flex-wrap: wrap;
	justify-content: center;
}

mat-card {
	max-width: 320px;

	mat-card-header {
		justify-content: center;
		padding: 16px;

		mat-card-title {
			font-size: 16px;
		}
	}

	img {
		max-width: 200px;
		max-height: 200px;
		align-self: center;
	}

	mat-card-content {
		margin: 16px;
		padding: 0;
		line-height: 1.5;

		overflow: hidden;
		text-overflow: ellipsis;
		justify-content: center;
		display: -webkit-box;
		-webkit-line-clamp: 6;
		-webkit-box-orient: vertical;
	}

	mat-card-actions {
		justify-content: center;
	}
}