h1 {
	text-align: center;
}

.gamesGrid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

mat-card {
	max-width: 320px;
}

// .game {
// 	width: 320px;
// 	margin-top: 16px;
// 	margin-left: 16px;
// 	border: 1px solid rgba(0, 0, 0, 0.12);
// 	border-radius: 4px;
// }