mat-toolbar {
	height: 50px;
	display: flex;
	gap: 10px;
	font-size: 16px;
	font-weight: normal;
}

mat-divider {
	height: 70%;
	border-right-width: 2px !important;
	border-right-color: white;
}

a {
	color: white;
	text-decoration: none;
}